body {
    background-image: url(Backgroundimage.jpg);
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 25px;
}

.credit {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}

.aboutme {
    max-width: 500px;
    width: 80%;
    background-color: rgba(2, 135, 188, 0.9);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

hr {
    height: 2px;
    background-color: rgb(183, 134, 0);
    border-color: rgb(183, 134, 0);
}

h1, h2 {
    font-family: Impact, serif;
}

.item p {
    display: block;
    margin-top: 5px;
    Margin-bottom: 5px;
    font-size: 18px;
}

.type {
    font-weight: bold;
    font-style: inherit;
    font-family: sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.value {
    text-align: left;
    font-family: sans-serif;
}

img {
    display: inline-block;
    width: 140px;
    height: 150px;
}

footer {
    font-size: 14px;
}

.bottom-line {
    margin-top: 25px;
}

.last-line {
    margin-bottom: 5px;
}

.hyp {
    font-weight: bold;
}